<%-include('partials/header')-%>
<div class="about">
    <div class="about-banner">
        <div class="texts"><p>About United Bank</p>
            <h2>Excellence in Service</h2></div>
            <div class="empty"></div>
    </div>

    <div class="about-more">
        <div class="texts">
            <h1>About United Bank</h1>
            <h5>Excellence in service.</h5>

            <p>At United Bank, we value all of the relationships we have built since 1839.  We are committed to providing each relationship with an unmatched level of service. While we offer competitive products, services, rates and technology, the level of service we provide and our commitment to building relationships is what sets us apart from our competitors. </p>

            <p>United Bank isn't just growing to get bigger.  We are growing to satisfy the continued demand for a bank that focuses on service.  With 222 full-service banking locations, 22 loan origination offices and over 3,000 employees, our mix of competitive products, combined with a high level of service and a focus on relationships is an overwhelming value proposition for our customers.</p>

            <p>United Bank is backed by a history of safe, sound and secure banking practices that have allowed us to navigate through decades of changing economic environments.  Because of this, our employees, customers, shareholders and communities can rely on us to be their banking partner for decades to come.</p>
        </div>
        <div class="video"><div data-cmp-self="video">
            <div class="cmp-video cmp-video__with-externalUrl">
                
        
                <div class="cmp-video__external-wrapper">
                    
                        <iframe style="width: 100%;" class="cmp-video__external-video" src="https://www.youtube.com/embed/KDABHHqZpuU?enablejsapi=1" data-src="https://www.youtube.com/embed/KDABHHqZpuU?enablejsapi=1" data-gtm-yt-inspected-5="true" id="912888077" title="Celebrating 183 Years of Banking Tradition at United Bank"></iframe>
                    
                </div>
            </div>
        
        </div>
        
            
        
        </div>
    </div>

    <section class="about-vision">
        <div class="vision">
            <img src="images/icons8-rocket-50.png" alt="illustration">
            <h2>Our Mission</h2>
            <p>The mission of United Bankshares, Inc. is excellence in service to our employees, our customers, our shareholders and our communities.</p>
        </div>

        <div class="vision">
            <img src="images/icons8-opera-glasses-50.png" alt="illustration">
            <h2>Our Vision</h2>
            <p>United Bank's vision is to be one of the highest performing banking companies among the fifty largest in the United States.</p>
        </div>
    </section>

    <section class="diversity">
        <h1>Diversity and Inclusion</h1>
        <h4>United Bank recognizes that the diversity of our team supports our overall mission to provide excellence in service.</h4>
        <p>United Bank's Diversity and Inclusion Executive Council promotes respect and a shared purpose that aligns with our core values and community leadership.</p>
        <p>We are committed to increasing employees’ understanding and awareness of diversity and inclusion through a variety of training initiatives and education, including talent management, learning and development, employee engagement and community partnerships.</p>
    </section>

    <section class="spotlight">
        <div class="texts">
            <h1>Spotlighting Teammates During Black History Month</h1>
            <p>As we honor the culture, history and leadership of Black Americans during Black History Month, we celebrate our Black colleagues—and all DE&I contributors at the Bank—and remain committed to nurturing an inclusive culture</p>
        </div>
        <section class="video-section">
            <div class="img">
                <img src="images/IMG_1090.png" alt="">
            </div>
            <div class="video"><div data-cmp-self="video">
                <div class="cmp-video cmp-video__with-externalUrl">
                    
            
                    <div class="cmp-video__external-wrapper">
                        
                            <iframe class="cmp-video__external-video" src="https://www.youtube.com/embed/oNRtN591Ahk?enablejsapi=1" data-src="https://www.youtube.com/embed/oNRtN591Ahk?enablejsapi=1" data-gtm-yt-inspected-5="true" id="342579647" title="United Bank - Black History Month"></iframe>
                        
                    </div>
                </div>
            
            </div>
            
                
            
            </div>
        </section>
    </section>

    <section class="values">
        <h2>Our Values</h2>
        <h4>We are committed to building and sustaining trusted relationships.</h4>
        <section class="values-section">
            <div class="value">
                <img src="images/icons8-body-type-short-50.png" alt="illustration">
                <h3>Integrity</h3>
                <p>We do what is right for our employees, our customers, our shareholders and our communities – 100% of the time.</p>
            </div>

            <div class="value">
                <img src="images/icons8-hammer-50.png" alt="illustration">
                <h3>Hard Work</h3>
                <p>We strive to out-perform our competition with diligence, efficiency and accuracy.</p>
            </div>

            <div class="value">
                <img src="images/icons8-handshake-50.png" alt="illustration">
                <h3>Teamwork</h3>
                <p>We work together to accomplish our company’s vision, mission and our customer’s financial goals.</p>
            </div>

            <div class="value">
                <img src="images/icons8-love-64.png" alt="illustration">
                <h3>Caring</h3>
                <p>We display kindness and respect to each other and our customers.</p>
            </div>
        </section>
    </section>

    <div class="history">
        <main>
            <h3>Our History</h3>
            <p>It all began on St. Patrick’s Day 1839 when the Northwestern Bank of Virginia opened a branch in Parkersburg. In the years to follow, the bank survived – and often thrived – through Civil War, natural disasters, recessions, and depressions, by focusing on the communities it served. Through a combination of hard work, integrity, calculated acquisitions and unrivaled customer service, United has grown to be one of the top fifty largest banking companies in the United States.</p>
            <p>In 1987, United Bankshares, Inc. became a publicly traded company, and just a year later hit the $1 billion mark in total assets. Today, and 33 acquisitions later, United Bankshares has total assets of nearly $29 billion and 222 full-service banking offices and 22 loan origination offices in Virginia, West Virginia, Maryland, Pennsylvania, Ohio, North Carolina, South Carolina and Washington, D.C. – each built on customer service and commitment to the community.</p>
        </main>
        <img src="images/first-united-bank.jpeg" alt="illustration">
    </div>

    <section class="about-onboard">
        <div class="onboard-more">
            <img src="images/icons8-clover-64.png" alt="illustration">
            <h3>Our Lucky Day</h3>
            <p>Since our founding on St. Patrick’s Day in 1839, we celebrate each anniversary by giving shamrocks to our customers.</p>
        </div>

        <div class="onboard-more">
            <img src="images/icons8-graph-64.png" alt="illustration">
            <h3>Strength in Numbers</h3>
            <p>Recently completing the 33rd acquisition of the current administration, United has grown from a single office to one of the most successful regional financial services companies in the USA.</p>
        </div>

        <div class="onboard-more">
            <img src="images/icons8-washington-64.png" alt="illustration">
            <h3>Over a Quarter Century in Greater Washington</h3>
            <p>It's been over 32 years of serving the DC Metro region.</p>
        </div>
    </section>
</div>
<%-include('partials/footer')-%>