<%-include('partials/header')-%>

<div class="commitment">
    <div class="commitment-banner">
        <div class="texts"><p>Corporate Responsibility</p>
            <h2>Building a Brighter Future</h2></div>
            <div class="empty"></div>
    </div>
    <div class="commitment-more">
        <h1>Commitment to Community</h1>
        <h4>Building a brighter future.</h4>
        <p>At United Bank, our commitment to providing excellence in service extends beyond banking. It includes giving back to the communities in which we live and work, striving to make a difference each and every day. We encourage our employees to get involved and each year, they volunteer thousands of hours and raise funds for a number of causes. As we continue to grow, so does the impact we have on our communities. We invest our time, talent and resources to help build a brighter future in the places we call home.</p>
    </div>
    <section class="commitment-video">
        <div class="video">
            <div data-cmp-self="video">
                <div class="cmp-video cmp-video__with-externalUrl">
                    
            
                    <div class="cmp-video__external-wrapper">
                        
                            <iframe class="cmp-video__external-video" src="//play.vidyard.com/zvpQ2JoViBFJZW5jabAZJv.html?enablejsapi=1" data-src="//play.vidyard.com/zvpQ2JoViBFJZW5jabAZJv.html?enablejsapi=1" style="width: 100%;"></iframe>
                        
                    </div>
                </div>
            
            </div>
        </div>

        <div class="texts">
            <h4>United Bank is committed to providing excellence in service to our communities.</h4>
            <p>United Bank is a demonstrated leader in strategically aligning resources to move the needle on pressing challenges faced by our communities. One such challenge is the affordable housing crisis in the United States. United’s work in financing a complex array of affordable housing developments in the Adams Morgan and Columbia Heights neighborhoods of Washington, D.C. showcases our sustained commitment to being a strong, reliable finance partner of nonprofit affordable housing developers.</p>
            <p>While these neighborhoods have faced significant challenges in the past, recent unprecedented demand for housing puts long-time residents at risk of displacement. United recognizes that breaking the cycle of poverty is much more complex than simply putting families in housing. Thus, we have financed, donated, sponsored, invested in, and volunteered with a wide range of activities and social services that are instrumental in empowering these families to long-term economic stability. Some of these services include affordable childcare, workforce development, small business support, end of life care, ESL resources, and afterschool programs - all within walking distance of an affordable home.</p>
        </div>
    </section>

    <section class="services">
        <h1>Committed to Helping Communities in a Variety of Areas</h1>
        <div class="services-section">
            <div class="services-detail">
                <img src="images/icons8-charity-100.png" alt="illustration">
                <h4>Financial Literacy</h4>
                <p>United is committed to helping members of our communities make informed financial decisions. Whether it’s teaching youth about the importance of saving or educating individuals on how to avoid common financial mistakes, we aspire to help the people in our communities succeed. An example of our commitment is our annual participation in the American Bankers Association’s Teach Children to Save program. In 2017, 212 employees presented to 12,974 kids at 119 locations.</p>
            </div>
    
            <div class="services-detail">
                <img src="images/icons8-merchant-account-48.png" alt="illustration">
                <h4>Children & Education</h4>
                <p>United’s commitment to the betterment of children from an overall wellbeing and educational standpoint has long been evident. Through volunteerism, fundraising and corporate support, United is a dedicated partner in education, supporter of afterschool programs and community outreach leader. Our presence can be seen in schools throughout our footprint, and felt though the positive impact of our fundraising events, such as the Kids Golf Classic and the Washington Jesuit Academy Gridiron Classic.</p>
            </div>
    
            <div class="services-detail">
                <img src="images/icons8-health-book-48.png" alt="illustration">
                <h4>Health</h4>
                <p>United understands the health challenges our communities face and we respond through fundraising and corporate support. United’s commitment to community health care is vividly on display with our hosting and sponsorship of the United Cardinal Classic Golf Tournament to benefit the INOVA® Kellar Center. We are particularly responsive to the market-specific health and wellness needs throughout our footprint.</p>
            </div>
    
            <div class="services-detail">
                <img src="images/icons8-house-48.png" alt="illustration">
                <h4>Affordable Housing</h4>
                <p>United is committed to providing access to affordable housing to individuals and families in the communities we serve. Through robust relationships with affordable housing developers, community development lending expertise, and strong partnership with the Federal Home Loan Bank (FHLB), United is able to provide flexible and responsive financing solutions for projects that provide affordable, transitional and emergency housing.</p>
            </div>
    
            <div class="services-detail">
                <img src="images/icons8-hotel-star-50.png" alt="illustration">
                <h4>Economic Vitality</h4>
                <p>United recognizes the importance of thriving communities. We build strong relationships with organizations that support the viability of the communities we serve. Being actively involved in local economic development is not only essential, but also leads to opportunities to offer professional assistance or financing for projects that will catalyze positive change in our company’s footprint.  We partner with urban redevelopment authorities, regional planning commissions, small business incubators and chambers of commerce. In addition, we provide innovative, flexible and responsive products and services to people and businesses in our communities to best meet their needs.</p>
            </div>
        </div>
    </section>

    <section class="partnerships">
        <h1>Our Partnerships</h1>
        <section class="partnerships-section">
            <div class="partnerships-detail">
                <img src="images/icons8-golf-47.png" alt="illustration">
                <h3>Kids Golf Classic</h3>
            </div>

            <div class="partnerships-detail">
                <img src="images/icons8-sparkling-diamond-50.png" alt="illustration">
                <h3>Premier Partners</h3>
            </div>

            <div class="partnerships-detail">
                <img src="images/icons8-scholar-66.png" alt="illustration">
                <h3>Scholarship Funds</h3>
            </div>

            <div class="partnerships-detail">
                <img src="images/icons8-care-64.png" alt="illustration">
                <h3>Charity Classic</h3>
            </div>
        </section>
    </section>
</div>

<%-include('partials/footer')-%>