<%-include('partials/header')-%>
<div style="padding: 20px 25px; height: 100vh;" class="confirm">
    <h1 style="text-align: center; color: #169b62;">Success!!</h1>
    <p>Your request has been received and is been processed.</p>
    <p>Click <a href="/">Here</a> to return home.</p>
</div>
<%-include('partials/footer')-%>