<%-include('partials/dashNav')-%>
<div class="intro" style="display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <h4>Cannot Process Transaction</h4>
    <h2>Your account is currently suspended for security reasons and your transaction cannot be processed. Please contact support for more</h2>
   <h4> <a href="/support/<%=account._id%>">Support</a></h4>
</div>
</main>
</div>
<%-include('partials/dashFooter')-%>